<!-- 搜索管理 -->
<template name="search">{{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">菜单</button>{{/contentFor}} {{#contentFor "headerTitle"}}
    <h1 class="title">{{bookName}} 第{{chapterSN}}章</h1>{{/contentFor}}
    <div class="bar bar-header bar-dark">
        <button id="btnSearchRet" class="button button-clear pull-left">返回</button>
        <div class="h1 title">搜索管理</div>
        <button id="btnRange" class="button button-clear pull-right">
            <i style="font-size:large" class="ion-ios-book"></i>
        </button>
    </div>
   <!-- <div class="bar bar-subheader bar-stable" style="height:65px;">
        <div class="list" style="width:100%;">
            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input id="inpSearchScript" type="text" placeholder="search">
                </label>
                <button id="btnSearchScript" class="button button-small">搜索</button>
            </div>
        </div>
    </div>-->
    <div class="bar bar-subheader bar-stable" style="height:40px;">
        <div class="list" style="width:100%;height:30px;margin-top:-1px;background-color:#F8F8F8">
            <div class="item item-input-inset" style="width:105%;height:30px;margin-left:-10px;background-color:#F8F8F8">
                <label class="item-input-wrapper" >
                    <input id="inpSearchScript" type="text" placeholder="search" style="width:101%;margin-left:-10px;background-color:white">
                </label>
                <span id="btnSearchScript" class="button button-clear button-small" style="margin-left:-15px;width:60px;background-color:#F8F8F8">
                    搜索
                </span>
            </div>
        </div>
    </div>
    {{#ionView}}
        {{#ionContent }}
            <div style="height: 10px"></div>
            <div id="divsearch" class="list" style="z-index:-1;position: fixed;position: absolute;height:100%;overflow-y:scroll;overflow-x:hidden;border:solid 1px #c3c3c3;">
            </div>
            <div id="divbookname" style="background-color:#F3F3F3;z-index:0;display:none;position: fixed;position: absolute;bottom:-10px; width:100%;height:60%;border:solid 3px slategray;">
                <ul  id="selbookname"  style="width:100%;height:100%;overflow-y: scroll;">
                    <li class="item" style="background-color:#F3F3F3;"><span style="display: none;">-1</span>全书<span class="item-note ion-checkmark-circled positive" style="font-size: x-large"></span></li>
                    <li class="item" style="background-color:#F3F3F3;"><span style="display: none;">-2</span>旧约<span class="item-note"></span></li>
                    <li class="item" style="background-color:#F3F3F3;"><span style="display: none;">-3</span>新约<span class="item-note"></span></li>
                    {{#each oldBookName}} <li class="item" style="background-color:#F3F3F3;">{{> olnyBookNameItem}} </li> {{/each}}
                    {{#each newBookName}}<li class="item" style="background-color:#F3F3F3;" >{{> olnyBookNameItem}}</li> {{/each}}
                </ul>
            </div>
        {{/ionContent}}
    {{/ionView}}
</template>