<template name="main">
	{{#contentFor "headerButtonLeft"}}
	    <button class="button button-clear pull-left" data-ion-menu-toggle="left">菜单</button>
    {{/contentFor}}
  	{{#contentFor "headerButtonRight"}}
	    <button id="btnVoice" class="button button-clear pull-right">语音</button>
  	{{/contentFor}}
  	{{#contentFor "headerTitle"}}
    	<h1 id="ChooseBook" class="title" data-ion-menu-toggle="left" >{{bookName}} 第{{chapterSN}}章</h1>
  	{{/contentFor}}
    {{#ionView}}{{#ionContent}}
	    	<div id="divBible" class="list" style="height:100%;overflow-y:scroll;overflow-x:hidden;">
              <button id="btnPrev" class="button button-full button-light">上一章</button>
                {{#each lectionList}}{{>lectionItem }}{{/each}}
               <p> <button  id="btnNext" class="button button-full button-light">下一章</button></p>
            </div>
        {{/ionContent}}{{/ionView}}
</template>
