.chooseOrAndNew{background-color:gray;color:white;}
.chooseOrAndNewDefault{background-color: lightslategrey;}
a{border-color:#000;}
div{border-color:#000;}
.bibleHidden{background-color: blue;}
.booksColor{color:black;}
.charpterColor{color:black;}
.menu{color:cadetblue;}