<template name="bookMarks">
    {{#contentFor "headerButtonLeft"}}<button class="button button-clear pull-left" data-ion-menu-toggle="left"> 菜单 </button>{{/contentFor}}
    {{#contentFor "headerTitle"}}<h1 class="title">{{bookName}} 第{{chapterSN}}章</h1>{{/contentFor}}
    {{#contentFor "headerButtonRight"}}
        <button id="btnVoice" class="button button-clear pull-right">语音</button>
    {{/contentFor}}
    <div class="bar bar-header bar-dark" >
        <button id="btnreturn" class="button button-clear pull-left">返回</button>
        <div class="h1 title">书签管理</div>
        <button id="btnAll" class="button button-clear pull-right"><i style="font-size:large" class="ion-ios-book"></i></button>
    </div>
    <div class="bar bar-subheader bar-stable" style="height:40px;">
        <div class="list" style="width:100%;height:30px;margin-top:-1px;background-color:#F8F8F8">
            <div class="item item-input-inset" style="width:105%;height:30px;margin-left:-10px;background-color:#F8F8F8">
                <label class="item-input-wrapper" >
                    <input id="txtSearch" type="text" placeholder="search" style="width:101%;margin-left:-10px;background-color:white">
                </label>
                <span id="btnSearch" class="button button-clear button-small" style="margin-left:-15px;width:60px;background-color:#F8F8F8">
                    搜索
                </span>
            </div>
        </div>
    </div>
    {{#ionView}}
        {{#ionContent}}
            <div id="books" class="list" style="margin-top:35px; ">{{#each arrBookMark}} {{> temBookmarkItem}} {{/each}}
                <div id="message" style="margin-top:20px;width:100%;text-align: center"></div>
            </div>
        {{/ionContent}}
    {{/ionView}}
</template>