<template name="bookMarks">
    {{#contentFor "headerButtonLeft"}}<button class="button button-clear pull-left" data-ion-menu-toggle="left"> 菜单 </button>{{/contentFor}}
    {{#contentFor "headerTitle"}}<h1 class="title">{{bookName}} 第{{chapterSN}}章</h1>{{/contentFor}}
    <div class="bar bar-header bar-dark" style="height:86px;background-color: black">
        <div>
            <button id="btnreturn" class="button button-clear pull-left" style="width:50px"> 返回</button>
            <h1 class="title" style="margin-top:21px">书签管理</h1>
            <button id="btnAll" class="button button-clear pull-right ion-ios-bookmarks" style="margin-top: 17px;font-size: large"></button>
        </div>
        <div >
            <div style="margin-top:40px;margin-left:-55px;background-color:#51575F;width:129%;padding:7px" class=" item-input-inset">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i> <input id="txtSearch" type="text" placeholder="Search">
                </label>
                <button id="btnSearch" class="button icon ion-search " style="height:50px;border-style:none"> </button>
            </div>
        </div>
    </div>
    {{#ionView}}
        {{#ionContent}}
            <div id="books" class="list" style="margin-top:60px;">{{#each arrBookMark}} {{> temBookmarkItem}} {{/each}}
                <div id="message" style="display:none;margin-top:20px;width:100%;text-align: center"></div>
            </div>
        {{/ionContent}}
    {{/ionView}}
</template>