<template name="temBookmarkItem">
    <div class="item  row" >

        <label class="checkbox"  style="display:none">
            <input type="checkbox" name="key" value="{{objbookmarkTime}}">
        </label>
         <span class="button button-clear" style="display:none">
                        <span>{{objbookid}}</span>
                        <span>{{objchapter}}</span>
                        <span>{{objchapterCount}}</span>
                        <span>{{objbookmarkTime}}</span>
                        <span>{{objbookname}}</span>
                    </span>
        <span class="col col-40" >{{objbookmark}}</span>
        <span   class="col col-40" data-ion-menu-close  >{{shortname}}</span>
        <a id="aEditBookName" class="col col-10" href="#" style="font-size:x-large;"><i class="icon ion-compose"></i></a>
        <!--<button id="buttonDel" style="font-size:x-large;margin-top:-10px" class="col col-10 button button-clear button-positive ion-ios-trash"></button>-->

    </div>

</template>



