<template name="download_chapterItem">
	<div class="item item-icon-left" data-ion-menu-close>
		<!-- {{> ionIcon icon="ios-arrow-left"}} --> 
		{{#if isDownload}}
		<!-- ture -->
		<button class="button button-icon icon ion-checkmark-circled" data-play></button>
		<span class="item-note">
			已下载
		</span>
		{{else}}
		<!-- false -->
		<button class="button button-icon icon ion-ios-cloud-download-outline pull-right" data-play></button>
		<span class="item-note">
			未下载
		</span>
		{{/if}}
		第{{chapterSN}}章
	</div>
</template>