<template name="bookMenu">

    {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
        <!-- data-ion-modal="menu" -->
        <!-- data-ion-menu-toggle 左拉菜单-->
        菜单
    </button>
    {{/contentFor}}

    {{#contentFor "headerTitle"}}
        <h1 class="title" data-ion-menu-toggle="left">{{bookName}} 第{{chapterSN}}章</h1>
    {{/contentFor}}

    {{#contentFor "headerButtonRight"}}
        <button id="btnVoice" class="button button-clear pull-right">
            <!-- data-ion-modal="right" -->
            语音
        </button>
    {{/contentFor}}


            <div class="bar bar-header" style="background-color: black;height:115px">

               <div style="height:20px">
                   <h4  style="margin-left:90px;color:white;text-align:center">书卷选择</h4>
               </div>

                <div class="tabs" style="border-color: black;margin-left:-168px;border-style:none">
                    <a class="tab-item chooseOrAndNew " id="old" style="border-style:none">
                    旧约
                </a>

                    <a class="tab-item chooseOrAndNewDefault " id="new" style="border-style:none">
                        新约
                    </a>
                </div>

            </div>


{{#ionView}}
      {{#ionContent}}
        {{#ionList}}

        {{#ionItem path="search" iconLeft=true iconRight=true}}
            {{> ionIcon icon="ios-checkmark" class="positive"}}
            创世纪
            {{> ionIcon icon="ios-arrow-right"}}
        {{/ionItem}}


        {{/ionList}}
      {{/ionContent}}
    {{/ionView}}
    {{#ionView}}

        {{#ionContent}}
            <!--  <button id="btn" style="height:50px;">ok1111</button>
             <div id="bk"></div>-->
            <!--  <div style="z-index:2;position:fixed;margin-top:60px;">
                  <button id="old" class="button button-positive">旧约</button><button id="new" class="button button-stable">新约</button>
              </div>-->
            <div id="divBookLists" class="list" style="margin-top:50px;height:100%;overflow-y:scroll;overflow-x:hidden;">
                {{#each postBookName}}
                    {{> bookItem}}
                {{/each}}
            </div>
        {{/ionContent}}

    {{/ionView}}
</template>